@import '~scss/_animation';
.ExpandableText {
	width: 100%;
	position: relative;
	&.expanded {

		&:after {
			opacity: 0;
		}
		.text-container {
			max-height: 1000px;
			//overflow: initial;
			text-overflow: initial;
			white-space: initial;
			transition: max-height $transition-time ease-in-out;
		}
	}
	&:after {
		content: '';
		height: 20px;
		width: 100%;
		position: absolute;
		pointer-events: none;
		bottom: -1px;
		left: 0px;
		background: linear-gradient(rgba(255,255,255,0), white);
		opacity: 1;
		transition: opacity $transition-time;
	}
	.text-container {
		max-height: 100px;
		overflow: hidden;
		//height: 100%;
		position: relative;
		transition: max-height $transition-time cubic-bezier(0, 1, 0, 1);
	}
}