// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900'); /** font-family: 'Montserrat', sans-serif; **/
@font-face {
  font-family: 'RTRaleway';
  src: local('RTRaleway'), url(./fonts/RTRaleway-Regular.ttf) format('truetype');
}

html {
  font-family: "RTRaleway";
  // 	font-family: "Montserrat";
  //font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0px;
}