@import '~scss/_color';
.mobile {
    .Resume {
        .pdf-controls-header {
            position: sticky;
        }
        .pdf-viewer-container {
            margin: 0px;
            margin-top: 0px;
        }
    }
}
.Resume {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
    z-index: 10000;
    overflow-y: auto;
    .controls {
        display: flex;
        justify-content: space-between;
    }
    .pdf-controls-header {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 6px 24px 6px 24px;
        //min-height: 64px;
        //height: 40px;
        width: 100vw;
        background: $color-primary;
    }
    //padding: 40px;
    .pdf-viewer-container {
        margin: 40px;
        margin-top: 80px;
    }
    .mgrpdf-navigation__controls--wrapper {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
}