.KoalaSVG {
    width: 50px;
    height: 50px;
    svg {
        background-color: white;
    }
      
    path {
        stroke-dasharray: 105;
        stroke: transparent;
        animation: draw 4s;
        stroke-width: 0.5;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 0;
        stroke: grey;
        fill: transparent;
    }
    
    50% {
        stroke-dashoffset: 210;
        stroke: grey;
        fill: transparent;
    }
    
    100% {
        stroke-dashoffset: 210;
        stroke: transparent;
        fill: black;
    }
}