.Sidebar {
    //margin-top: 40px;
    padding-left: 40px;
    height: 100%;
    .sidebar-items {
        display: flex;
        flex-flow: column;
        text-align: left;
    }
    .SidebarInfo {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.mobile {
    .Sidebar {
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin-top: 0px;
        padding-left: 0px;
        height: 39px;
        line-height: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .sidebar-items {
            padding: 0px 20px;
            justify-content: center;
            flex-flow: row;
            .SidebarItem {
                margin: 0px 20px;
            }
        }
    }
}