.SidebarInfo {	
    .social {
        display: flex;
        > div {
            cursor: pointer;
        }
    }
}

.desktop {
    .SidebarInfo {	
        .social {
            > div {
                opacity: 0.5;
                transition: .1s linear;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }  
}