.Skills {	
    .skills-section-title {
        color: rgba(0,0,0,.4);
        margin: 0px 0px 30px 0px;
        font-size: 20px;
    }
    .skills-section {
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }
    .skills-item-wrapper {
        text-align: center;
    }
    .skills-item {
        display: inline-block;
    }
}