.Skills {	
    .skills-section {
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }
    .skills-item-wrapper {
        text-align: center;
    }
    .skills-item {
        display: inline-block;
    }
}