body {
	overflow-y: hidden;
}
main {
	height: calc(100vh - 80px);
	margin: 40px 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.content-wrapper {
	padding: 0px 40px 0px 42px;
	margin-bottom: 40px;
	flex: 1;
	display: inline-block;
	overflow: hidden;
}

.desktop .content-wrapper {
	margin-left: 200px;
}

.mobile .content-wrapper {
	padding-top: 20px;
}

.section {
    &:not(:last-of-type) {
        padding-bottom: 40px;
	}
	&:last-of-type {
		padding-bottom: 2px;
	}
}


.sidebar-and-content-wrapper {
	display: flex;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.Sidebar {
	position: fixed;
	width: 200px;
	z-index: 100;
	background: white;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 20px;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.4);
}

.mobile {
	main {
		height: calc(100vh - 80px);
		margin-bottom: 40px;
		//border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		//overflow: hidden;
	}
}