@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900'); /** font-family: 'Montserrat', sans-serif; **/
html {
	font-family: "Montserrat";
}
body {
	overflow-y: hidden;
}
main {
	height: calc(100vh - 80px);
	margin: 40px 0px;
	overflow-y: auto;
}
.content-wrapper {
	padding: 0px 40px 0px 40px;
	margin-bottom: 40px;
	flex: 1;
	display: inline-block;
	overflow: hidden;
}

.desktop .content-wrapper {
	margin-left: 200px;
}

.section {
    &:not(:last-of-type) {
        padding-bottom: 80px;
    }
}


.sidebar-and-content-wrapper {
	display: flex;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.Sidebar {
	position: fixed;
	width: 200px;
	z-index: 100;
	background: white;
}

.mobile {
	main {
		height: calc(100vh - 80px);
		margin-bottom: 40px;
		//border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		//overflow: hidden;
	}
}